.deleteButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  