/* Grid styling for cards */
.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 2rem 0;
  }
  
  /* Card styling */
  .card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative; /* To position the settings icon */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Card hover effects */
  .card:hover {
    border-color: #007bff;
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.2);
  }
  
  /* Card image styling */
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.05);
  }
  
  /* Title and description styling */
  .card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.4;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Icon container inside the card */
  .settingsIconContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Settings button styling */
  .settingsButton {
    background: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    line-height: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .settingsButton:hover {
    background-color: #007bff;
    border-color: #007bff;
    transform: scale(1.1);
  }
  
  .settingsButton:hover {
    color: #fff;
  }
  
  .deleteButtonWrapper {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  