.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.headerButtons {
  display: flex;
  gap: 1rem;
}